.container_tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cabecera{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: auto;
        .tab{
            padding: 1em;
            white-space: nowrap;         // evita que el texto se divida en dos líneas
            width: fit-content;
        }
    }
}