@import "../../../assets/styles/variables.scss";

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: inherit;

  &.invalid .checkmark {
    background-color: #f8d7da;
    border: 1px solid $error-color; // Asegúrate de definir $error-color en tus variables
  }
}

.checkbox-container input {
  position: absolute;
  display: none;
}

.checkmark {
  position: relative;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: scale(0) rotate(45deg);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $primary-color; // Asegúrate de definir $primary-color en tus variables
}

.checkbox-container input:checked ~ .checkmark::after {
  transform: scale(1) rotate(45deg);
  opacity: 1;
}

.checkbox-container input:disabled ~ .checkmark {
  background-color: #e0e0e0;
}

.checkbox-container input:disabled ~ .checkmark::after {
  border-color: #aaa;
}